.wrapper{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
}

/* catalog.blade.php Desktop */
/* header Desktop */
.header-content{
    background-color: purple;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    border-radius: 20px;
}
.header-logo {
    color: white;
}
.header-information {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header-information a{
    text-decoration: none;
    color: white;
}

/* regBlock Desktop */
.regBlock {
    margin-top: 20px;
}
.regBlock__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

/* container Desktop */
.container{
    margin: 20px auto; 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

/* product-block Desktop */
.product-block {
    border: 1px solid black;
    width: 300px;
}
.product-block:hover{
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}
.product-block__up {
}
.product-block__photo img{
    width: 100%;
}
.product-block__down {
	padding: 10px; 
	display: flex; 
	flex-direction: column; 
	gap: 15px; 
}
.product-block__name {
	font-size: 22px; 
}
.product-block__price {
	font-size: 18px; 
}

/* filters Desktop */
.filter-form {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 20px;
}
.filter-item {
	flex: 1 1 200px;
}

/* footer Desktop */
.footer-content {
    background-color: purple;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    border-radius: 20px;
}
.footer-logo {
    color: white;
}
.footer-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.footer-information a {
    text-decoration: none;
    color: white;
}

/* admin2.blade.php */
.admin-div {
    margin: 15px 0;
}
.admin-div__content {

}
.admin-div__columns{
    display: flex;
    align-items: start;
    justify-content: space-around;
}
.admin-div__column {
    display: flex;
    flex-direction: column;
}
.admin-div__column a{
    margin: 15px 0;
}

/* product.blade.php */
.product-detail__photo{
	width: 300px; 
}
.product-detail__photo img{
	width: 100%; 
}

/* basket.blade.php */
.basket-item {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.basket-item__image {
	width: 100px;
	height: 100px;
	object-fit: cover;
}
.basket-item__details {
	margin-left: 20px;
}
.basket-item__actions {
	display: flex;
	align-items: center;
}
.quantity {
	margin: 0 10px;
}
.btn {
	padding: 5px 10px;
	margin: 5px;
}

/* reg forms */
.regForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.regForm input{
    padding: 10px;
}
.reg-container{
    display: flex;
    justify-content: center;
    margin: 40px auto;
}
.reg-container__content{
    width: 50%;
}
